/*导航栏-背景色*/
.nav-bg{
	background: #d43c33;
}
/*工具栏-背景图*/

.toolbar-inner i {
  width: 24px;
  height: 24px;
  line-height: 24px;
}


.active > i[class~=icon-bookstore]{
  background-image: url("../img/toolbar/bookstore_active.png");
}
.active > i[class~=icon-choice]{
  background-image: url("../img/toolbar/choice_active.png");
}
.active > i[class~=icon-find]{
  background-image: url("../img/toolbar/find_active.png");
}
.active > i[class~=icon-account]{
  background-image: url("../img/toolbar/account_active.png");
}

.icon-bookstore {
  background-image: url("../img/toolbar/bookstore.png");
}
.icon-choice {
  background-image: url("../img/toolbar/choice.png");
}
.icon-find {
  background-image: url("../img/toolbar/find.png");
}
.icon-account {
  background-image: url("../img/toolbar/account.png");
}
.icon-more {
  width: 24px; 
  height: 24px;
  line-height: 24px;
  background-image: url("../img/bookshelf/icon-more.png");
}
.icon-search {
  width: 24px; 
  height: 24px;
  line-height: 24px;
  margin-right: 25px;
  background-image: url("../img/bookshelf/icon-search.png");
}
.icon-filter {
  width: 24px; 
  height: 24px;
  line-height: 24px;
  background-image: url("../img/bookshelf/icon-filter.jpg");
}

/*书架-导航栏*/
.store-navinner{
	padding-left: 0;
}
.store-row{
	width: 150px;
}
.store-zp{
	margin-right: 2px;
    height: 43px;
    line-height: 43px;
    border-left: 0;
    border-right: 0;
    
   
}
.navbar-inner>.center> a[class~=active]{
	 border-bottom: 3px solid #fff;
	 background: #d43c33;
}

.icon-message {
	width: 25px;
	height: 25px;
    background-image: url("../img/icon/message.png");
}

.icon-setting {
	width: 25px;
	height: 25px;
    background-image: url("../img/icon/setting.png");
}

.icon-booklist {
    background-image: url("../img/icon/book_list.png");
}

.icon-listen {
    background-image: url("../img/icon/listen.png");
}

.icon-red-envelope {
    background-image: url("../img/icon/red_envelope.png");
}

.toolbar-height i {
	width: 45px !important;
}

.toolbar-height i.icon {
	height: 45px !important;
}

.toolbar-font-size {
	font-size: 17px !important;
}

.toobar-color {
	color: white !important;
}


.store-block{
	margin: 0;
}
.store-sub{
	margin-bottom: 18px;
    margin-top: 14px;
}

.icon-classify-sm {
	width: 25px;
    height: 25px;
    background-image: url("../img/icon/classify_01.png");
}

.icon-nbr {
	width: 27px;
    height: 27px;
    background-image: url("../img/icon/nbr_03.png");
}

.icon-fine {
	width: 23px;
    height: 23px;
    background-image: url("../img/icon/fine.png");
}

.icon-free {
	width: 25px;
    height: 25px;
    background-image: url("../img/icon/free.png");
}

.icon-my-level {
	width: 22px;
    height: 22px;
    background-image: url("../img/icon/level.png");
}

.icon-my-badge {
	width: 25px;
    height: 25px;
    background-image: url("../img/icon/badge.png");
}

.icon-my-experience {
	width: 25px;
    height: 25px;
    background-image: url("../img/icon/experience.png");
}

.icon-request {
	width: 25px;
    height: 25px;
    background-image: url("../img/icon/request.png");
}

.icon-exchange {
	width: 25px;
    height: 25px;
    background-image: url("../img/icon/exchange.png");
}

.icon-author {
	width: 27px;
    height: 27px;
    background-image: url("../img/icon/author.png");
}

.icon-sign {
	width: 25px;
    height: 25px;
    background-image: url("../img/icon/sign.png");
}

.icon-margin-right {
	margin-right: 10px;
}

.nav-white{
	background: white;
}

.nno:after {
	background-color: white;
}

.store-but{
	width: 30%;
    margin-left: 36%;
     color: #d43c33 !important;
}
.store-but01{
	 width: 27%;
    margin-left: 16%;
    display: inline-block;
    color: #d43c33 !important;
}
