/*导航栏-背景色*/
.nav-bg{
	background: #d43c33;
}
/*工具栏-背景图*/

.toolbar-inner i {
  width: 24px;
  height: 24px;
  line-height: 24px;
}


.active > i[class~=icon-bookstore]{
  background-image: url("../img/toolbar/bookstore_active.png");
}
.active > i[class~=icon-choice]{
  background-image: url("../img/toolbar/choice_active.png");
}
.active > i[class~=icon-find]{
  background-image: url("../img/toolbar/find_active.png");
}
.active > i[class~=icon-account]{
  background-image: url("../img/toolbar/account_active.png");
}

.icon-bookstore {
  background-image: url("../img/toolbar/bookstore.png");
}
.icon-choice {
  background-image: url("../img/toolbar/choice.png");
}
.icon-find {
  background-image: url("../img/toolbar/find.png");
}
.icon-account {
  background-image: url("../img/toolbar/account.png");
}

/*书架-导航栏*/
.store-navinner{
	padding-left: 0;
}
.store-row{
	width: 150px;
}
.store-zp{
	margin-right: 2px;
    height: 43px;
    line-height: 43px;
    border-left: 0;
    border-right: 0;
    
   
}
.navbar-inner>.center> a[class~=active]{
	 border-bottom: 3px solid #fff;
	 background: #d43c33;
}

.icon-classify-sm {
	width: 25px;
    height: 25px;
    background-image: url("../img/icon/classify_01.png");
}

.icon-nbr {
	width: 27px;
    height: 27px;
    background-image: url("../img/icon/nbr_03.png");
}

.icon-fine {
	width: 23px;
    height: 23px;
    background-image: url("../img/icon/fine.png");
}

.icon-free {
	width: 25px;
    height: 25px;
    background-image: url("../img/icon/free.png");
}

.icon-margin-right {
	margin-right: 10px;
}
